<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <ngx-datatable [rows]="listSensor"
                     [rowHeight]="50"
                     [scrollbarV]="true"
                     [footerHeight]="50"
                     [scrollbarH]="true"
                     [headerHeight]="50"
                     (activate)="onClickSensorItem($event)"
                     style="height: 500px;"
                     [columnMode]="ColumnMode.force"
                     [columns]="dtSensorOptions.columns" class="bootstrap w-100">
      </ngx-datatable>
    </div>
  </div>
</div>
