<table class="table" >
  <thead class="thead-dark">
    <tr class="table-info">
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">PH</th>
      <th scope="col">Temperatura</th>
      <th scope="col">TCD</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros">
      <td>{{ registro.id }}</td>
      <td>{{ registro.registerAt | date: 'MM/dd/yyyy' }}</td>
      <td>{{ registro.ph }}</td>
      <td>{{ registro.temperature }}</td>
      <td>{{ registro.contamination }}</td>
    </tr>
  </tbody>
</table>

