<div class="row d-flex justify-content-center">
  <div class="col-md-9">
    <div class="row">


      <div id="chartTemperature" class="col-md-12">
        <apx-chart
          [series]="chartTemperatureOptions.series"
          [chart]="chartTemperatureOptions.chart"
          [xaxis]="chartTemperatureOptions.xaxis"
          [stroke]="chartTemperatureOptions.stroke"
          [dataLabels]="chartTemperatureOptions.dataLabels"
          [yaxis]="chartTemperatureOptions.yaxis"
          [labels]="chartTemperatureOptions.labels"
          [legend]="chartTemperatureOptions.legend"
          [title]="chartTemperatureOptions.title"
          [subtitle]="chartTemperatureOptions.subtitle"

        ></apx-chart>
      </div>
      <div id="chart" class="col-md-6">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [dataLabels]="chartOptions.dataLabels"
          [yaxis]="chartOptions.yaxis"
          [labels]="chartOptions.labels"
          [legend]="chartOptions.legend"
          [title]="chartOptions.title"
          [subtitle]="chartOptions.subtitle"

        ></apx-chart>
      </div>
      <div id="chartContamination" class="col-md-6">
        <apx-chart
          [series]="chartContamination.series"
          [chart]="chartContamination.chart"
          [xaxis]="chartContamination.xaxis"
          [stroke]="chartContamination.stroke"
          [dataLabels]="chartContamination.dataLabels"
          [yaxis]="chartContamination.yaxis"
          [labels]="chartContamination.labels"
          [legend]="chartContamination.legend"
          [title]="chartContamination.title"
          [subtitle]="chartContamination.subtitle"

        ></apx-chart>
      </div>
      <div class="col-md-12 mt-4">
        <h5>Registro Historico</h5>
        <ngx-datatable [rows]="sensorInformationDetail"
                       [rowHeight]="50"
                       [scrollbarV]="true"
                       [footerHeight]="50"
                       [scrollbarH]="true"
                       [headerHeight]="50"
                       style="height: 500px;"
                       [columnMode]="ColumnMode.force"
                       [columns]="columns" class="bootstrap w-100">
        </ngx-datatable>
      </div>
    </div>
  </div>



</div>


