@import '~bootstrap/dist/css/bootstrap.css';
:root {
  --primary-color: #01B1E3;
  --primary-color-dark: #009ACD;
  --secondary-color: #00B0FF;
  --secondary-color-light: #0091EA;

}
.navbar {
  background-color: var(--primary-color-dark);
}

footer {
  background-color: var(--primary-color-dark) !important;
}

.badge-primary {
  background-color: var(--secondary-color-light) !important;
}

#main { padding-top: 100px; padding-bottom: 100px }
