<header>
  <div class="navbar navbar-light fixed-top" >
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h5 class="text-white h4 ml-2">CleanWater</h5>
      <img src="../../../assets/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
    </div>
  </div>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="navbar navbar-light" style="background-color: #a7ebf0c5;">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Historial</a>
        </li>
      </ul>
    </div>
  </div>

</header>
<main #main id="main">
<div class="container">
  <router-outlet></router-outlet>
</div>
</main>

<footer class="text-white text-center py-3">
  <p>&copy; 2023 CleanWater. Todos los derechos reservados.</p>
</footer>
